/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





/*------------------------------------*\
    BASIC
\*------------------------------------*/

body {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    margin: 0;
    background: #dcd2d6;
      background: #ea005e;
      background: #e0e0e0;
  }
  header {
    padding: 25px 15px 10px;
  }
  h1, h2, h3, h4, h5 ,h6 {
    line-height: 1.15;
  }
  ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
  }
  .underline:after {
    content:'';
    display:block;
    height: 2px;
    width:100%;
    margin:10px auto;
    background:#222;
  }
  
  p {
    margin: 0;
  }
  
  div {
    display: block;
  }
  
  /*------------------------------------*\
      FOUNDATION
  \*------------------------------------*/
  
  .row {
      max-width:1350px;
      width:96%;
      margin:0 auto;
  }
  
  /*------------------------------------*\
      SECTION SPACING
  \*------------------------------------*/
  
  .pad {
      padding: 60px 0;
  }
  
  .full-pad-med {
      padding:40px;
  }
  
  .side-pad-med {
      padding: 0 40px;
  }
  
  
  .pad-bottom {
      padding-bottom: 60px;
  }
  
  .mb-35 {
      margin-bottom: 35px;
  }
  .mb-6 {
      margin-bottom: 70px;
  }
  
  /*------------------------------------*\
      VERTICAL ALIGN SETTINGS
  \*------------------------------------*/
  
  .in-block {
    display: inline-block;
  }
  
  .inline-wedge:before {
    content: '';
    display:inline-block;
    height:100%;
    vertical-align: middle;
  }
  
  .just-inline:after {
    content: '';
    display: inline-block;
    width:100%;
  }
  
  
  /*------------------------------------*\
     GENERAL HELPER CLASSES
  \*------------------------------------*/
  
  
  .hide {display:none !important}
  
  .show {display: block !important;}
  
  .opaque {
    opacity:1;
  }
  
  .uppercase {
      text-transform: uppercase;
  }
  
  .not-opaque {
    opacity:0;
  }
  
  .no-style {
      list-style:none;
      margin: 0;
      padding:0;
  }
  
  .txt-ctr {
      text-align: center;
  }
  
  .spread {
      width:100%;
      height:100%;
  }
  
  .half-spread {
      width: 100%;
      height: 50%;
  }
  
  .sml-full {
      width:100%;
  }
  
  .full-height-vh {
      height:100vh;
  } 
  
   .full-height {
      height: 100%;
  }
  
  /*------------------------------------*\
      BUTTONS
  \*------------------------------------*/
  
  .fill {
      position: relative;
    height: 45px;
    outline: 0;
    overflow:hidden;
    background: inherit;
    z-index: 1;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .fill.flip {
      -webkit-perspective: 100px;
              perspective: 100px;
      -webkit-perspective-origin: top;
              perspective-origin: top;
  }
  
  .fill:hover {
    color: #fff;
    border-color: transparent;
  }
  
  .fill:before {
    content: "";
    position: absolute;
    background: #1d62ae;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity:0;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .fill.flip:before {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
          -webkit-box-shadow: 0px 10px 0px #407ec1;
                  box-shadow: 0px 10px 0px #407ec1;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
  }
  
  .fill:hover:before {
    bottom: 0;
    opacity:1;
  }
  
  .fill.flip:hover:before {
    bottom: 0;
    opacity:1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  
  
  /*------------------------------------*\
     BACKGROUND CLASSES
  \*------------------------------------*/
  
  .cover {
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
  } 
  
  .contain {
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
  }
  
  /*------------------------------------*\
     FLEX CLASSES
  \*------------------------------------*/
  
  .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
  
  .row-r {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  
  .col {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              flex-direction: column;
  }
  
  .col-r {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
  
  .wrap {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
  }
  
  .wrap-r {
    -webkit-flex-wrap:wrap-reverse;
        -ms-flex-wrap:wrap-reverse;
            flex-wrap:wrap-reverse;
  }
  
  .center-y {
      -webkit-justify-content: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
              align-items: center;
  }
  
  .stretch {
      -webkit-box-align:stretch;
      -webkit-align-items:stretch;
          -ms-flex-align:stretch;
              align-items:stretch;
  }
  
  .center-x {
      -webkit-justify-content: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
              justify-content: center;
  }
  
  
  .spaced-b {
    -webkit-justify-content: space-between;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .spaced-a {
    -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
        justify-content: space-around;
     
  }
  .fgrow {
    flex-grow: 1;
  }
  
  /*------------------------------------*\
      LAYOUT
  \*------------------------------------*/
  
  .sml-full {
    width:100%;
  }
  
  .lrg-full {
      width:100%;
  }
  
  
  
  /*------------------------------------*\
      CUSTOM
  \*------------------------------------*/
  
  .test-overlay {
      background: #4a9ed4;
      background: #61eaac;
      background:black;
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      opacity: 0;
      transition: ease all 500ms;
  }
  .test-overlay.active {
      display: flex;
      opacity: 1;
      z-index: 99;
  }
  .test-overlay .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size:20px;
  }
  .test-overlay .next { 
  position: absolute;
  bottom: 20px;
  right: 20px;
      color: white;
  }
  .overlay-inner {
    position: relative;
  }
  .overlay-inner li {
    padding: 10px;
  }
  .overlay-inner h2.name {
      margin: 0px;
      border: 0px;
      padding: 0px;
      font-size: 6vw;
      margin-bottom: 30px;
  }
  .test-overlay .definizione-quiz {
    display: none;
  }
  .test-overlay.quiz .definizione, .test-overlay.quiz .ausiliare, .test-overlay.quiz .conjugations {
    display: none;
  }
  .test-overlay.quiz .definizione-quiz {
    display: block;
  }
  ul.overlay-inner, ul.overlay-inner:before {
    transition:ease all 500ms;
  }
  ul.overlay-inner:before {
      content: '';
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #61eaac;
      font-size: 30px;
      display: flex;
      align-items: center;
      color: #11482f;
      font-weight: bold;
      justify-content: center;
      transition: ease all 500ms;
  }
  ul.overlay-inner.correct:before {
      content: 'CORRECT!';
      opacity: 1;
      z-index: 9;
  }
  #counter {
    position: absolute;
    line-height: 1;
    bottom: 20px;
    left: 20px;
  }
  .question {
    display: none;
  }
  .test-overlay.quiz .question {
    display: block;
  }
  
  .question form input {
      width: 100%;
      margin: 0px;
      color: black;
      color: #61eaac;
      padding: 0px;
      font-size: 26px;
      background: transparent;
      box-shadow: 0px 0px 0px;
      outline: none;
      border: 0px;
      padding: 0px 0px 5px;
      border-bottom: 2px solid white;
  }
  input.def.wrong-answer, form.verbquiz.wrong-answer input {
      border-bottom: 2px solid #ea005e;
  }
  input#subbtn {
      background: white;
      width: 9%;
      border-radius: 10%;
      text-indent: -99999px;
      float: right;
      position: relative;
      border-bottom: 0px;
      padding: 2px;
      display: none;
  }
  input#subbtn:after {
      content: '>';
      display: block;
      position: absolute;
      top: 0;
      font-size: 20px;
      right: 0;
  }
  input:focus { 
      box-shadow: 0px 0px 0px !important;
      outline: 0px !important; 
  }
  .question form input:focus {
      color: #61eaac;
  }
  button.next {
      background: transparent;
      box-shadow: none;
      border: 0;
      font-size: 15px;
      margin: 0px;
      padding: 0px;
  }
  header button, header select, header input {
      /* outline: none;
      border: 0px;
      background: white;
      height: 30px;
      line-height: 30px;
      box-shadow: none;
      border-radius: 0px !important;
      padding: 0px 10px;
      margin-right: 5px;
      text-transform: uppercase;
      color: #444444; */
  }
  button.quiz {
      background: black;
      color: white;
      font-weight: 800;
  }
  .forma {
      display: none;
  }
  h2.name {
      margin: 0px;
      /* border-top: 1px solid #e6e6e6; */
      padding: 5px 0 0px;
      font-size: 30px;
      font-weight: 700;
  }
  ul.list li {
      padding: 10px 20px;
      margin: 15px 15px 15px;
      border-radius: 10px;
      background: white;
  }
  .overlay-inner .conjugations span { 
      position: absolute;
      margin-top: -22px;
  }
  
  /*------------------------------------*\
      RESPONSIVE
  \*------------------------------------*/
  
  
  @media screen and (max-width: 600) {
    .overlay-inner h2.name {
      font-size: 50px;
    }
  }
  








    /*------------------------------------*\
      toggler
  \*------------------------------------*/






  .navbar-toggle {
    border: none;
    background: transparent !important;
  }
    .navbar-toggle &:hover {
      background: transparent !important;
    }
  
    .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s;
    }
    .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .navbar-toggle .middle-bar {
      opacity: 0;
    }
    .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }


     .navbar-toggle.collapsed.top-bar {
        transform: rotate(0);
      }
       .navbar-toggle.collapsed.middle-bar {
        opacity: 1;
      }
       .navbar-toggle.collapsed.bottom-bar {
        transform: rotate(0);
      }

























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
